$body--line-height: 1.5em;
$body--font-family: "Armata", Helvetica, Arial, Geneva, sans-serif;
$body--font-two: "Armata", Helvetica, Arial, Geneva, sans-serif;

$font--size-small: 0.9em;
$font--size-smaller: 0.8em;
$nav--main-font: "Electrolize, Helvetica, Arial, Geneva, sans-serif;";

$block--heading-size: 1.2em;
$block--heading-font: $body--font-two;

