img, media {
  max-width: 100%;
}
img {
  display:block;
}

/* Floated Images */
  .image--body-left {
    display:block;
    margin:0 1em 1em;
    border:none;
    max-width: 100%;

    @include breakpoint($desktop) {
      display: inline-block;
      float: left;
      margin: .5em 1em 0 0;
      border:1px solid $block--border-color;
    }
  }


