// reset defaults //
a {
  text-decoration:none;
  color: $body--link-color;
    &:hover {
      color: $body--link-color-hover;
    }
}
h1, h2, h3, h4, h5, h6 {
  font-weight:normal;
}
body {
  /*
  border-top:5px solid yellow;
  @include breakpoint($tablet) {
    border-top:5px solid red;
  }
  @include breakpoint($desktop) {
    border-top:5px solid blue;
  }
  */
  line-height: $body--line-height;
  font-family: $body--font-family;
  margin: $body--margin-mobile;
  color: $body--font-color;
  background: $body--background-color;
  @include breakpoint($tablet) {
    background: url(../images/pagebg.jpg) no-repeat top center $body--background-color;
  }
  @include breakpoint($desktop) {
    font-size:.9em;
    margin: $body--margin-desktop;
  }
}

// eof Set defaults */

.l-header {
  background: url(../images/header.png) no-repeat top center;

  .header--inside {
    padding: $header--padding;
    padding-top: 0;
    padding-bottom: 0;
    padding-right:.5em;
    @include breakpoint($tablet) {
      padding: $header--padding;
    }
  }
}


  .l-header {
    margin: $header--margin;
    background-color: $header--bgcolor;
    text-align: center;

    .block--search {
      @include breakpoint($tablet) {
        //display:block;
        text-align: right;
      }
    }
    .block--header--social-icon {
      display:none;
      @include breakpoint($tablet) {
        display:block;
      }
    }
  }

  .l-region--navigation {
    background: $nav--main--bgcolor;
    @include breakpoint($desktop) {
      @include gradient($nav--main--bgcolor, #29363F);
    }
    border-bottom: 1px solid $block--border-color;
  }
  .breadcrumb {
    display: none;
  }

  .l-main {
    color: $content--text-color;
    background: #000000;
    padding-top:2em;
      .l-content {
      h1 {
        @include head-font();
        font-size: 1.5em;
      }
        .inner {
          padding: 0 .5em;
          @include breakpoint($tablet) {
            padding:0;
          }
        }
      }
  }

  .front .pane-node-body {
    background: url(../images/jungle-awards.jpg) no-repeat top center;
    @include breakpoint($tablet, true) {
      //min-height:600px;
    }
  }

  .l-footer {
    background-color: $footer--bgcolor;
    color: $footer--text-color;
  }

  .block--user-login {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      a {
        color: $link--column-link-color;
        font-size: $font--size-small;
        &:hover {
          color: $link--column-link-color-hover;
        }
      }
    }

  }


.inline {
  display:inline-block;
}


