@font-face {
  font-family: 'Average';
  font-style: normal;
  font-weight: 400;
  src: local('Average'), local('Average-Regular'), url(http://fonts.gstatic.com/s/average/v4/izALWcNwNkrCvzHACpf6mALUuEpTyoUstqEm5AMlJo4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/average/v4/1Ai4vfe_GvZOVa9E6GhmFwLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
