/* line 1, ../sass/base/_forms.scss */
input[type='text'],
input[type='password'] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #666;
  padding: 0.25em; }

/* line 7, ../sass/base/_forms.scss */
input[type='submit'] {
  display: inline-block;
  color: #fff;
  background: #000;
  padding: 0.6em 0.5em;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

/* line 3, ../sass/base/_layout.scss */
.header--inside {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 0; }
  /* line 12, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@omega.fawcett/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  .header--inside:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 7, ../sass/base/_layout.scss */
  .header--inside .l-branding {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%; }
  /* line 10, ../sass/base/_layout.scss */
  .header--inside .l-region--header {
    width: 32.20339%;
    float: right;
    margin-right: 0; }

/* line 15, ../sass/base/_layout.scss */
.block--system-main-menu {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@omega.fawcett/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  .block--system-main-menu:after {
    content: " ";
    display: block;
    clear: both; }

/* line 22, ../sass/base/_layout.scss */
.l-content {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@omega.fawcett/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  .l-content:after {
    content: " ";
    display: block;
    clear: both; }

/* line 25, ../sass/base/_layout.scss */
.l-main {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@omega.fawcett/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  .l-main:after {
    content: " ";
    display: block;
    clear: both; }

/* line 30, ../sass/base/_layout.scss */
.l-region--sidebar-second {
  width: 23.72881%;
  float: right;
  margin-right: 0; }

/* line 34, ../sass/base/_layout.scss */
.l-content {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%; }

/* line 38, ../sass/base/_layout.scss */
.l-region--footer {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../../../../.rvm/gems/ruby-1.9.3-p551@omega.fawcett/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  .l-region--footer:after {
    content: " ";
    display: block;
    clear: both; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 2, ../sass/base/_styles.scss */
a {
  text-decoration: none; }

/* line 5, ../sass/base/_styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

/* line 8, ../sass/base/_styles.scss */
body {
  background-color: #b8252a;
  line-height: 1.5em;
  font-family: "Average"; }
  @media (min-width: 960px) {
    /* line 8, ../sass/base/_styles.scss */
    body {
      font-size: 1.1em; } }

/* line 17, ../sass/base/_styles.scss */
.l-header {
  margin: 0 0 1em;
  background-color: #fff; }
  /* line 21, ../sass/base/_styles.scss */
  .l-header .block--search {
    text-align: right; }

/* line 28, ../sass/base/_styles.scss */
.l-region--navigation {
  background: #000; }

/* line 32, ../sass/base/_styles.scss */
.breadcrumb {
  display: none; }

/* line 36, ../sass/base/_styles.scss */
.l-main {
  color: #fff; }

/* line 39, ../sass/base/_styles.scss */
.l-footer {
  background-color: #000;
  color: #fff; }

/* line 45, ../sass/base/_styles.scss */
.block--user-login ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  /* line 50, ../sass/base/_styles.scss */
  .block--user-login ul a {
    color: #000;
    font-size: 0.9em; }
    /* line 53, ../sass/base/_styles.scss */
    .block--user-login ul a:hover {
      color: #000; }

/* line 1, ../sass/base/_typography.scss */
.l-content h1 {
  font-weight: normal; }
  @media (min-width: 960px) {
    /* line 1, ../sass/base/_typography.scss */
    .l-content h1 {
      font-size: 2em; } }

/* line 1, ../sass/components/_blocks.scss */
.side-block {
  border: 1px solid #000;
  background-color: #fff;
  margin: 0 0 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  /* line 107, ../sass/abstractions/_mixins.scss */
  .side-block h2.block__title {
    margin: 0;
    padding: 0.5em;
    background: #000;
    color: #fff; }
  /* line 110, ../sass/abstractions/_mixins.scss */
  .side-block .block__content {
    padding: 0 1em;
    color: #000; }

/* line 5, ../sass/components/_blocks.scss */
.block--user-login {
  border: 1px solid #000;
  background-color: #fff;
  margin: 0 0 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  /* line 107, ../sass/abstractions/_mixins.scss */
  .block--user-login h2.block__title {
    margin: 0;
    padding: 0.5em;
    background: #000;
    color: #fff; }
  /* line 110, ../sass/abstractions/_mixins.scss */
  .block--user-login .block__content {
    padding: 0 1em;
    color: #000; }

/* line 9, ../sass/components/_blocks.scss */
.block--testimonial {
  border: 1px solid #000;
  background-color: #fff;
  margin: 0 0 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #333; }
  /* line 107, ../sass/abstractions/_mixins.scss */
  .block--testimonial h2.block__title {
    margin: 0;
    padding: 0.5em;
    background: #000;
    color: #fff; }
  /* line 110, ../sass/abstractions/_mixins.scss */
  .block--testimonial .block__content {
    padding: 0 1em;
    color: #000; }
  /* line 12, ../sass/components/_blocks.scss */
  .block--testimonial h3 {
    margin: 0;
    padding: 0.5em;
    background: #000;
    color: #fff; }
  /* line 15, ../sass/components/_blocks.scss */
  .block--testimonial .views-field-body {
    padding: 0 1em;
    font-style: italic; }

/* line 2, ../sass/abstractions/_mixins.scss */
.l-region--navigation ul.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none; }
  /* line 8, ../sass/abstractions/_mixins.scss */
  .l-region--navigation ul.menu li.leaf {
    display: inline-block;
    margin: 0 1px 0; }
    /* line 11, ../sass/abstractions/_mixins.scss */
    .l-region--navigation ul.menu li.leaf a {
      display: block;
      padding: 0.75em 1em;
      background: #000;
      color: #fff;
      font-size: 1.25em;
      margin: 0; }
      /* line 18, ../sass/abstractions/_mixins.scss */
      .l-region--navigation ul.menu li.leaf a:hover {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff; }
/* line 4, ../sass/components/_navigation.scss */
.l-region--navigation a {
  text-shadow: 0px 5px 19px #b8252a; }

/* line 2, ../sass/components/_search.scss */
.block--search input[type='submit'] {
  display: inline-block;
  color: #fff;
  background: #000;
  padding: 0.6em 0.5em;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
/* line 5, ../sass/components/_search.scss */
.block--search input[type='text'] {
  padding: 0.5em 0.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #666; }

/*# sourceMappingURL=fawcett.styles.css.map */
