/* line 1, ../sass/base/_forms.scss */
input,
input[type='text'],
input[type='password'],
input[type='email'],
input[type='file'],
select,
textarea,
.email.form-text,
.form-select
.form-type-password-confirm input[type='text'],
.form-type-password-confirm input[type='password'],
.form-type-password-confirm input[type='email'] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #900;
  padding: 0.25em;
  background: #333;
  color: #999;
  max-width: 100%; }

/* line 20, ../sass/base/_forms.scss */
input[type='submit'] {
  display: inline-block;
  color: #fff;
  background: #29363F;
  border: 1px solid #600;
  padding: 0.25em 0.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000 0%, #333 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #333));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000 0%, #333 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000 0%, #333 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000 0%, #333 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, #333333 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
  /* IE6-9 */ }
  /* line 91, ../sass/abstractions/_mixins.scss */
  input[type='submit']:hover {
    background: #333;
    /* Old browsers */
    background: -moz-linear-gradient(top, #333 0%, #000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #000));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #333 0%, #000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #333 0%, #000 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #333 0%, #000 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #333333 0%, #000000 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
    /* IE6-9 */ }

/* line 24, ../sass/base/_forms.scss */
fieldset {
  border: 1px solid #900;
  margin: 1em .5em;
  max-width: 100%; }

/* line 31, ../sass/base/_forms.scss */
.user-profile-form .form-submit {
  margin-right: 1em; }

/* line 36, ../sass/base/_forms.scss */
select.edit-timezone--2 {
  max-width: 50%; }

/* line 43, ../sass/base/_forms.scss */
.messages--status, .ok {
  color: #fff; }

/* line 47, ../sass/base/_forms.scss */
.forum-table-wrap .forum-table-superheader, .forum-table-topics thead tr {
  border-top: 1px solid #600;
  background: #000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000 0%, #500 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #500));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000 0%, #500 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000 0%, #500 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000 0%, #500 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, #550000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
  /* IE6-9 */ }

/* line 1, ../sass/base/_forum.scss */
.forum-table-wrap .forum-table-superheader,
#forum-statistics-header {
  background: #000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000 0%, #500 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #500));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000 0%, #500 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000 0%, #500 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000 0%, #500 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, #550000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
  /* IE6-9 */ }

/* line 6, ../sass/base/_forum.scss */
.forum-table {
  border: 1px solid #600; }

/* line 10, ../sass/base/_forum.scss */
#forum-statistics {
  border: 1px solid #600; }
  /* line 13, ../sass/base/_forum.scss */
  #forum-statistics .forum-statistics-sub-header {
    background: #600; }
  /* line 17, ../sass/base/_forum.scss */
  #forum-statistics .forum-statistics-sub-body {
    background: transparent; }
  /* line 21, ../sass/base/_forum.scss */
  #forum-statistics .forum-table-wrap thead tr {
    background: transparent;
    border: 1px solid #600; }

/* line 28, ../sass/base/_forum.scss */
.forum-table-forums th {
  background: #000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000 0%, #500 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #500));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000 0%, #500 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000 0%, #500 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000 0%, #500 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, #550000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
  /* IE6-9 */ }

/* line 33, ../sass/base/_forum.scss */
.forum-table-wrap thead tr {
  background-color: transparent;
  border: none; }

/* line 38, ../sass/base/_forum.scss */
.forum-table tr.even, .forum-table tr.odd,
tr.even,
tr.odd {
  background: transparent; }

/* line 44, ../sass/base/_forum.scss */
td.forum-last-reply {
  font-size: 0.9em; }

/* line 48, ../sass/base/_forum.scss */
div.forum-post {
  border: 1px solid #600; }

/* line 52, ../sass/base/_forum.scss */
.forum-post-info,
.af-button-large, .af-button-small, .author-pane-link {
  background: #000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000 0%, #500 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #500));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000 0%, #500 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000 0%, #500 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000 0%, #500 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, #550000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #600; }
  /* line 56, ../sass/base/_forum.scss */
  .forum-post-info:hover,
  .af-button-large:hover, .af-button-small:hover, .author-pane-link:hover {
    background: #500;
    /* Old browsers */
    background: -moz-linear-gradient(top, #500 0%, #000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #500), color-stop(100%, #000));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #500 0%, #000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #500 0%, #000 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #500 0%, #000 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #550000 0%, #000000 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
    /* IE6-9 */ }

/* line 61, ../sass/base/_forum.scss */
.forum-post-info {
  padding: .5em; }
  /* line 63, ../sass/base/_forum.scss */
  .forum-post-info a.active {
    color: #fff; }

/* line 68, ../sass/base/_forum.scss */
.forum-post-title {
  border-bottom-color: #600; }

/* line 72, ../sass/base/_forum.scss */
.forum-post-wrapper {
  background: transparent; }

/* line 76, ../sass/base/_forum.scss */
.forum-post-panel-main,
.forum-post-footer,
.div.forum-post {
  background-color: transparent;
  border-left: 1px solid #600; }

/* line 82, ../sass/base/_forum.scss */
.forum-post-footer {
  border-top: 1px solid #600; }

/* Comments */
/* line 89, ../sass/base/_forum.scss */
.field-name-comment-body .form-actions input {
  font-size: 1.5em;
  margin: 1em 0; }

/* Post */
/* line 100, ../sass/base/_forum.scss */
.forum-post .author-pane .user-picture {
  margin: .25em; }

/* line 106, ../sass/base/_forum.scss */
.forum-table-wrap .forum-table-superheader,
.forum-table-topics thead tr,
th {
  background: transparent;
  background: #000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000 0%, #500 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #500));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000 0%, #500 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000 0%, #500 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000 0%, #500 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, #550000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
  /* IE6-9 */
  border-top: 1px solid #600; }

/* line 115, ../sass/base/_forum.scss */
.forum-table-topics .forum-table tr.even, .forum-table-topics .forum-table tr.odd {
  border-top: 1px solid #600; }
/* line 118, ../sass/base/_forum.scss */
.forum-table-topics td {
  padding: 0.5em; }

/* line 123, ../sass/base/_forum.scss */
.comment-form.comment-form--2 {
  display: none; }

/* line 127, ../sass/base/_forum.scss */
.edit-actions {
  margin: 1em 0; }

/* line 1, ../sass/base/_layout.scss */
.l-region--sidebar-first {
  display: none; }

/* line 5, ../sass/base/_layout.scss */
.l-content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

/* line 9, ../sass/base/_layout.scss */
.l-region--sidebar-second {
  display: none; }

/* line 14, ../sass/base/_layout.scss */
.l-header .header--inside {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  .l-header .header--inside:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 16, ../sass/base/_layout.scss */
  .l-header .header--inside .l-branding,
  .l-header .header--inside .l-region--header {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  /* line 21, ../sass/base/_layout.scss */
  .l-header .header--inside .l-branding {
    width: 100%; }
  /* line 27, ../sass/base/_layout.scss */
  .l-header .header--inside .l-region--header {
    width: 100%; }
    /* line 34, ../sass/base/_layout.scss */
    .l-header .header--inside .l-region--header .block--search {
      display: block; }
    /* line 41, ../sass/base/_layout.scss */
    .l-header .header--inside .l-region--header .block--header--social-icon {
      display: block; }

/* line 95, ../sass/base/_layout.scss */
.panel-2col {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  .panel-2col:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 97, ../sass/base/_layout.scss */
  .panel-2col .panel-panel {
    display: block;
    float: none; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 4, ../sass/base/_media.scss */
img {
  display: block; }

/* Floated Images */
/* line 9, ../sass/base/_media.scss */
.image--body-left {
  display: block;
  margin: 0 1em 1em;
  border: none;
  max-width: 100%; }

/* line 2, ../sass/base/_styles.scss */
a {
  text-decoration: none;
  color: #48a9e4; }
  /* line 5, ../sass/base/_styles.scss */
  a:hover {
    color: #fff; }

/* line 9, ../sass/base/_styles.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

/* line 12, ../sass/base/_styles.scss */
body {
  /*
  border-top:5px solid yellow;
  @include breakpoint($tablet) {
    border-top:5px solid red;
  }
  @include breakpoint($desktop) {
    border-top:5px solid blue;
  }
  */
  line-height: 1.5em;
  font-family: "Armata", Helvetica, Arial, Geneva, sans-serif;
  margin: 0 auto;
  color: #fff;
  background: #000; }

/* line 38, ../sass/base/_styles.scss */
.l-header {
  background: url(../images/header.png) no-repeat top center; }
  /* line 41, ../sass/base/_styles.scss */
  .l-header .header--inside {
    padding: 1em 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: .5em; }

/* line 53, ../sass/base/_styles.scss */
.l-header {
  margin: 0;
  background-color: #29363F;
  text-align: center; }
  /* line 64, ../sass/base/_styles.scss */
  .l-header .block--header--social-icon {
    display: none; }

/* line 72, ../sass/base/_styles.scss */
.l-region--navigation {
  background: #000;
  border-bottom: 1px solid #600; }

/* line 79, ../sass/base/_styles.scss */
.breadcrumb {
  display: none; }

/* line 83, ../sass/base/_styles.scss */
.l-main {
  color: #fff;
  background: #000000;
  padding-top: 2em; }
  /* line 88, ../sass/base/_styles.scss */
  .l-main .l-content h1 {
    font-family: "Michroma", arial, helvetica, sans-serif;
    font-size: 1.5em; }
  /* line 92, ../sass/base/_styles.scss */
  .l-main .l-content .inner {
    padding: 0 .5em; }

/* line 101, ../sass/base/_styles.scss */
.front .pane-node-body {
  background: url(../images/jungle-awards.jpg) no-repeat top center; }

/* line 108, ../sass/base/_styles.scss */
.l-footer {
  background-color: #000;
  color: #fff; }

/* line 114, ../sass/base/_styles.scss */
.block--user-login ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  /* line 119, ../sass/base/_styles.scss */
  .block--user-login ul a {
    color: #000;
    font-size: 0.9em; }
    /* line 122, ../sass/base/_styles.scss */
    .block--user-login ul a:hover {
      color: #000; }

/* line 131, ../sass/base/_styles.scss */
.inline {
  display: inline-block; }

/* line 1, ../sass/base/_switch_mobile.scss */
.mobile--no,
.mobile--hide {
  display: none; }

/* line 9, ../sass/base/_switch_mobile.scss */
.mobile--only {
  display: block; }

/* line 1, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Michroma", arial, helvetica, sans-serif; }

/* line 5, ../sass/base/_typography.scss */
header h1.site-name a {
  color: #fff; }

/* line 9, ../sass/base/_typography.scss */
.l-content h1 {
  font-weight: normal;
  margin: 0 auto 1em;
  text-align: center; }

/* line 24, ../sass/base/_typography.scss */
.l-content .block--box h2, .l-content .homeboxes .view-content .node--home-box h2, .homeboxes .view-content .l-content .node--home-box h2 {
  font-size: 1em; }

/* line 3, ../sass/components/_blocks.scss */
.block--user-login,
.view-list-bookings .views-row,
.view-blog-list .view-content,
.l-region--sidebar-second .block,
.side-block,
.block--panels-mini-home-panels .block--views-releases-block,
.block--box,
.homeboxes .view-content .node--home-box,
.red-box {
  border: 1px solid #600;
  background-color: #222;
  margin: 0 0 1em;
  padding: 0; }
  /* line 142, ../sass/abstractions/_mixins.scss */
  .block--user-login h2.block__title,
  .block--user-login h2.pane-title,
  .block--user-login .field--title h2,
  .view-list-bookings .views-row h2.block__title,
  .view-list-bookings .views-row h2.pane-title,
  .view-list-bookings .views-row .field--title h2,
  .view-blog-list .view-content h2.block__title,
  .view-blog-list .view-content h2.pane-title,
  .view-blog-list .view-content .field--title h2,
  .l-region--sidebar-second .block h2.block__title,
  .l-region--sidebar-second .block h2.pane-title,
  .l-region--sidebar-second .block .field--title h2,
  .side-block h2.block__title,
  .side-block h2.pane-title,
  .side-block .field--title h2,
  .block--panels-mini-home-panels .block--views-releases-block h2.block__title,
  .block--panels-mini-home-panels .block--views-releases-block h2.pane-title,
  .block--panels-mini-home-panels .block--views-releases-block .field--title h2,
  .block--box h2.block__title,
  .homeboxes .view-content .node--home-box h2.block__title,
  .block--box h2.pane-title,
  .homeboxes .view-content .node--home-box h2.pane-title,
  .block--box .field--title h2,
  .homeboxes .view-content .node--home-box .field--title h2,
  .red-box h2.block__title,
  .red-box h2.pane-title,
  .red-box .field--title h2 {
    margin: 0;
    padding: 0.5em;
    background: transparent;
    color: #fff;
    font-size: 1.2em;
    background: #000;
    /* Old browsers */
    background: -moz-linear-gradient(top, #000 0%, #500 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #500));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000 0%, #500 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000 0%, #500 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000 0%, #500 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #000000 0%, #550000 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
    /* IE6-9 */
    font-family: "Michroma", arial, helvetica, sans-serif; }
  /* line 153, ../sass/abstractions/_mixins.scss */
  .block--user-login .block__content,
  .block--user-login .view-content,
  .view-list-bookings .views-row .block__content,
  .view-list-bookings .views-row .view-content,
  .view-blog-list .view-content .block__content,
  .view-blog-list .view-content .view-content,
  .l-region--sidebar-second .block .block__content,
  .l-region--sidebar-second .block .view-content,
  .side-block .block__content,
  .side-block .view-content,
  .block--panels-mini-home-panels .block--views-releases-block .block__content,
  .block--panels-mini-home-panels .block--views-releases-block .view-content,
  .block--box .block__content,
  .homeboxes .view-content .node--home-box .block__content,
  .block--box .view-content,
  .homeboxes .view-content .node--home-box .view-content,
  .red-box .block__content,
  .red-box .view-content {
    padding: 0.5em;
    color: #fff; }
  /* line 158, ../sass/abstractions/_mixins.scss */
  .block--user-login .field--node-link a,
  .view-list-bookings .views-row .field--node-link a,
  .view-blog-list .view-content .field--node-link a,
  .l-region--sidebar-second .block .field--node-link a,
  .side-block .field--node-link a,
  .block--panels-mini-home-panels .block--views-releases-block .field--node-link a,
  .block--box .field--node-link a,
  .homeboxes .view-content .node--home-box .field--node-link a,
  .red-box .field--node-link a {
    display: inline-block;
    color: #fff;
    background: #29363F;
    border: 1px solid #600;
    padding: 0.25em 0.5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #000;
    /* Old browsers */
    background: -moz-linear-gradient(top, #000 0%, #333 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #333));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000 0%, #333 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000 0%, #333 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000 0%, #333 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #000000 0%, #333333 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
    /* IE6-9 */
    font-size: .9em;
    margin: .5em 0;
    text-transform: lowercase; }
    /* line 91, ../sass/abstractions/_mixins.scss */
    .block--user-login .field--node-link a:hover,
    .view-list-bookings .views-row .field--node-link a:hover,
    .view-blog-list .view-content .field--node-link a:hover,
    .l-region--sidebar-second .block .field--node-link a:hover,
    .side-block .field--node-link a:hover,
    .block--panels-mini-home-panels .block--views-releases-block .field--node-link a:hover,
    .block--box .field--node-link a:hover,
    .homeboxes .view-content .node--home-box .field--node-link a:hover,
    .red-box .field--node-link a:hover {
      background: #333;
      /* Old browsers */
      background: -moz-linear-gradient(top, #333 0%, #000 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #000));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #333 0%, #000 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #333 0%, #000 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #333 0%, #000 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #333333 0%, #000000 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
      /* IE6-9 */ }

/* line 15, ../sass/components/_blocks.scss */
.block--box, .homeboxes .view-content .node--home-box {
  padding: .5em 1em; }

/* line 18, ../sass/components/_blocks.scss */
.l-region--sidebar-first .block--box, .l-region--sidebar-first .homeboxes .view-content .node--home-box, .homeboxes .view-content .l-region--sidebar-first .node--home-box,
.block--gallery-index .block--box,
.block--gallery-index .homeboxes .view-content .node--home-box,
.homeboxes .view-content .block--gallery-index .node--home-box,
.view-id-gig_list .block--box,
.view-id-gig_list .homeboxes .view-content .node--home-box,
.homeboxes .view-content .view-id-gig_list .node--home-box,
.block--box.homebox,
.homeboxes .view-content .homebox.node--home-box,
.red-box {
  padding: 0; }

/* line 35, ../sass/components/_blocks.scss */
.block--panels-mini-home-panels h2 {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid black;
  background: transparent;
  color: #fff;
  margin: 0.5em;
  padding: 0.5em;
  font-weight: normal;
  margin: 0;
  font-family: "Michroma", arial, helvetica, sans-serif; }

/* Releases Blocks */
/* line 44, ../sass/components/_blocks.scss */
.section-releases .block--views-releases-block .node--releases--teaser {
  padding: 0.5em; }

/* line 52, ../sass/components/_blocks.scss */
.block--views-releases-block .views-row .field-label,
.block--views-releases-block .views-row .field--release-date {
  font-size: 0.8em; }
/* line 56, ../sass/components/_blocks.scss */
.block--views-releases-block .views-row h3 {
  margin: 0 0 0.5em 0; }

/* line 63, ../sass/components/_blocks.scss */
.view-list-bookings .views-row .field-label,
.view-list-bookings .views-row .field--event-date {
  padding: 0 1em; }

/* line 71, ../sass/components/_blocks.scss */
.right-column-flyer {
  margin-bottom: 1em; }
  /* line 73, ../sass/components/_blocks.scss */
  .right-column-flyer img {
    border: 1px solid #600; }

/* line 78, ../sass/components/_blocks.scss */
.block--search {
  margin-bottom: 0; }

/* line 86, ../sass/components/_blocks.scss */
.views-column {
  border: 1px solid grey;
  margin-bottom: 2em; }

/* line 92, ../sass/components/_blocks.scss */
.views-responsive-grid .views-row .views-column {
  border: 1px solid #600;
  margin-bottom: 2em;
  text-align: center;
  min-height: 30px;
  font-size: 0.9em;
  padding: .25em 0 0 0;
  font-family: "Armata", Helvetica, Arial, Geneva, sans-serif; }
  /* line 103, ../sass/components/_blocks.scss */
  .views-responsive-grid .views-row .views-column .views-field-title {
    padding: 0 .25em;
    line-height: 110%;
    min-height: 30px; }
  /* line 109, ../sass/components/_blocks.scss */
  .views-responsive-grid .views-row .views-column .field--interview {
    padding: 0 .25em .25em; }
    /* line 111, ../sass/components/_blocks.scss */
    .views-responsive-grid .views-row .views-column .field--interview a {
      color: #48a9e4; }
      /* line 113, ../sass/components/_blocks.scss */
      .views-responsive-grid .views-row .views-column .field--interview a:hover {
        color: white; }
  /* line 119, ../sass/components/_blocks.scss */
  .views-responsive-grid .views-row .views-column img {
    max-width: 100%;
    display: block; }

/* line 145, ../sass/components/_blocks.scss */
.block--gallery .view-content .views-row img {
  max-width: 100%; }

/* line 152, ../sass/components/_blocks.scss */
.block--view-galleries {
  border: none; }
  /* line 154, ../sass/components/_blocks.scss */
  .block--view-galleries .block__content {
    padding: 0; }
  /* line 157, ../sass/components/_blocks.scss */
  .block--view-galleries .block--inner {
    padding: 0; }
    /* line 159, ../sass/components/_blocks.scss */
    .block--view-galleries .block--inner p {
      margin: 0; }
      /* line 161, ../sass/components/_blocks.scss */
      .block--view-galleries .block--inner p a {
        display: inline-block;
        color: #fff;
        background: #29363F;
        border: 1px solid #600;
        padding: 0.25em 0.5em;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #000;
        /* Old browsers */
        background: -moz-linear-gradient(top, #000 0%, #333 100%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #333));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #000 0%, #333 100%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #000 0%, #333 100%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #000 0%, #333 100%);
        /* IE10+ */
        background: linear-gradient(to bottom, #000000 0%, #333333 100%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
        /* IE6-9 */
        width: 100%;
        text-align: center; }
        /* line 91, ../sass/abstractions/_mixins.scss */
        .block--view-galleries .block--inner p a:hover {
          background: #333;
          /* Old browsers */
          background: -moz-linear-gradient(top, #333 0%, #000 100%);
          /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #000));
          /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #333 0%, #000 100%);
          /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #333 0%, #000 100%);
          /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #333 0%, #000 100%);
          /* IE10+ */
          background: linear-gradient(to bottom, #333333 0%, #000000 100%);
          /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
          /* IE6-9 */ }

/* Ladies of DNB */
/* line 173, ../sass/components/_blocks.scss */
.node--ladies-of-dnb .field--profile-image {
  display: block;
  margin: 0 1em 1em;
  border: none;
  max-width: 100%; }

/* line 190, ../sass/components/_blocks.scss */
.block--panels-mini-home-panels .view,
.block--inner {
  padding: 0.5em; }

/* Neutralize block paddings */
/* line 196, ../sass/components/_blocks.scss */
.block--views-column-flyers-block .block--inner,
.l-region--sidebar-second .view-column-flyers .view-content,
.block--views-releases-block .block--inner,
.block--views-list-bookings-block .block--inner {
  padding: 0; }

/* line 205, ../sass/components/_blocks.scss */
.views-slideshow-cycle-main-frame-row, .views-slideshow-cycle-main-frame {
  width: 100% !important; }

/* line 209, ../sass/components/_blocks.scss */
.block--views-slider-block .inner {
  padding: 0; }

/* Block Bookings */
/* line 215, ../sass/components/_blocks.scss */
.block--views-list-bookings-block {
  font-size: 0.9em; }
  /* line 217, ../sass/components/_blocks.scss */
  .block--views-list-bookings-block .views-row {
    padding: .25em;
    margin: 0 0 1px; }
  /* line 221, ../sass/components/_blocks.scss */
  .block--views-list-bookings-block .field--event-date {
    padding: 0;
    display: inline-block;
    margin-right: 1em;
    border-right: 1px solid black;
    min-width: 28%; }

/* line 230, ../sass/components/_blocks.scss */
.button--soundcloud a,
.button--twitter a,
.button--facebook a {
  display: inline-block;
  color: #fff;
  background: #29363F;
  border: 1px solid #600;
  padding: 0.25em 0.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000 0%, #333 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #333));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000 0%, #333 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000 0%, #333 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000 0%, #333 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, #333333 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
  /* IE6-9 */
  margin-bottom: 1em;
  min-width: 180px;
  border: 1px solid block--border-color; }
  /* line 91, ../sass/abstractions/_mixins.scss */
  .button--soundcloud a:hover,
  .button--twitter a:hover,
  .button--facebook a:hover {
    background: #333;
    /* Old browsers */
    background: -moz-linear-gradient(top, #333 0%, #000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #000));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #333 0%, #000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #333 0%, #000 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #333 0%, #000 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #333333 0%, #000000 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
    /* IE6-9 */ }
  /* line 237, ../sass/components/_blocks.scss */
  .button--soundcloud a:hover,
  .button--twitter a:hover,
  .button--facebook a:hover {
    background: #29363F;
    /* Old browsers */
    background: -moz-linear-gradient(top, #29363F 0%, #444 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #29363F), color-stop(100%, #444));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #29363F 0%, #444 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #29363F 0%, #444 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #29363F 0%, #444 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #29363f 0%, #444444 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
    /* IE6-9 */
    transition-property: background;
    transition-duration: .5s; }

/* line 245, ../sass/components/_blocks.scss */
.grid--wrapper .view-content {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto; }
  /* line 12, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
  .grid--wrapper .view-content:after {
    content: " ";
    display: block;
    clear: both; }
  /* line 247, ../sass/components/_blocks.scss */
  .grid--wrapper .view-content ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  /* line 252, ../sass/components/_blocks.scss */
  .grid--wrapper .view-content .grid--block,
  .grid--wrapper .view-content .views-row,
  .grid--wrapper .view-content li {
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 1em;
    border: 1px solid #666;
    padding: 0; }
    /* line 268, ../sass/components/_blocks.scss */
    .grid--wrapper .view-content .grid--block .field--title,
    .grid--wrapper .view-content .views-row .field--title,
    .grid--wrapper .view-content li .field--title {
      padding: .25em; }
      /* line 274, ../sass/components/_blocks.scss */
      .grid--wrapper .view-content .grid--block .field--title h3,
      .grid--wrapper .view-content .views-row .field--title h3,
      .grid--wrapper .view-content li .field--title h3 {
        font-size: 1em;
        margin: 0;
        font-family: "Armata", Helvetica, Arial, Geneva, sans-serif; }
        /* line 278, ../sass/components/_blocks.scss */
        .grid--wrapper .view-content .grid--block .field--title h3 a,
        .grid--wrapper .view-content .views-row .field--title h3 a,
        .grid--wrapper .view-content li .field--title h3 a {
          color: #fff; }

/* line 297, ../sass/components/_blocks.scss */
.block--header--social-icon .block--inner div {
  padding: 0 .75em;
  display: inline-block; }
/* line 307, ../sass/components/_blocks.scss */
.block--header--social-icon img {
  max-width: 30px; }

/* line 313, ../sass/components/_blocks.scss */
.view-id-gig_list h4.field-content {
  margin: .5em; }
/* line 316, ../sass/components/_blocks.scss */
.view-id-gig_list .field--event-date,
.view-id-gig_list .field--link {
  margin: .5em; }
/* line 321, ../sass/components/_blocks.scss */
.view-id-gig_list .field--link a {
  font-size: .8em;
  color: #666; }

/* line 328, ../sass/components/_blocks.scss */
.styled-table {
  font-size: .8em;
  border-top: 1px solid #600; }
  /* line 337, ../sass/components/_blocks.scss */
  .styled-table tr td.heading {
    text-align: center;
    font-weight: bold;
    background: #000;
    /* Old browsers */
    background: -moz-linear-gradient(top, #000 0%, #500 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #500));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000 0%, #500 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000 0%, #500 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000 0%, #500 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #000000 0%, #550000 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
    /* IE6-9 */ }
  /* line 343, ../sass/components/_blocks.scss */
  .styled-table tr td {
    padding: .25em;
    border: 1px solid #600;
    border-top: none; }

/* line 352, ../sass/components/_blocks.scss */
.homeboxes .view-content {
  padding: 0; }
  /* line 360, ../sass/components/_blocks.scss */
  .homeboxes .view-content .node--home-box {
    padding: 0; }
    /* line 363, ../sass/components/_blocks.scss */
    .homeboxes .view-content .node--home-box .field--body {
      padding: 0 1em; }
    /* line 366, ../sass/components/_blocks.scss */
    .homeboxes .view-content .node--home-box .field--link-to {
      padding: 0 1em 1em; }

/* line 378, ../sass/components/_blocks.scss */
.node--press-articles .field--article-image {
  max-height: 100px;
  overflow: hidden; }

/* line 384, ../sass/components/_blocks.scss */
.pane-slider {
  margin-bottom: 2em; }

/* line 388, ../sass/components/_blocks.scss */
.red-content-box {
  border: 1px solid #600;
  margin-bottom: 1em; }
  /* line 391, ../sass/components/_blocks.scss */
  .red-content-box h2 {
    background: #000;
    /* Old browsers */
    background: -moz-linear-gradient(top, #000 0%, #500 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #500));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000 0%, #500 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000 0%, #500 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000 0%, #500 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #000000 0%, #550000 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
    /* IE6-9 */
    margin: 0;
    padding: .5em;
    font-size: 1.1em; }
  /* line 397, ../sass/components/_blocks.scss */
  .red-content-box p {
    margin: 1em; }

/* line 402, ../sass/components/_blocks.scss */
.field--track-image img {
  margin-bottom: 1em; }

/* line 406, ../sass/components/_blocks.scss */
.views-row.bordered {
  border: 1px solid #600;
  padding: 0 .5em .5em;
  margin-bottom: 1em; }

/* line 1, ../sass/components/_buttons.scss */
.button--soundcloud a,
.button--twitter a,
.button--facebook a {
  display: inline-block;
  color: #fff;
  background: #29363F;
  border: 1px solid #600;
  padding: 0.25em 0.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000 0%, #333 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #333));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000 0%, #333 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000 0%, #333 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000 0%, #333 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, #333333 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
  /* IE6-9 */ }
  /* line 91, ../sass/abstractions/_mixins.scss */
  .button--soundcloud a:hover,
  .button--twitter a:hover,
  .button--facebook a:hover {
    background: #333;
    /* Old browsers */
    background: -moz-linear-gradient(top, #333 0%, #000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #000));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #333 0%, #000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #333 0%, #000 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #333 0%, #000 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #333333 0%, #000000 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
    /* IE6-9 */ }

/* line 19, ../sass/components/_buttons.scss */
.button, .homeboxes .view-content .node--home-box .field--link-to a {
  display: inline-block;
  color: #fff;
  background: #29363F;
  border: 1px solid #600;
  padding: 0.25em 0.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000 0%, #333 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #333));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000 0%, #333 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000 0%, #333 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000 0%, #333 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, #333333 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
  /* IE6-9 */ }
  /* line 91, ../sass/abstractions/_mixins.scss */
  .button:hover, .homeboxes .view-content .node--home-box .field--link-to a:hover {
    background: #333;
    /* Old browsers */
    background: -moz-linear-gradient(top, #333 0%, #000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #000));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #333 0%, #000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #333 0%, #000 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #333 0%, #000 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #333333 0%, #000000 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
    /* IE6-9 */ }

/* line 23, ../sass/components/_buttons.scss */
.button.booking-button, .homeboxes .view-content .node--home-box .field--link-to a.booking-button {
  display: inline-block;
  color: #fff;
  background: #29363F;
  border: 1px solid #600;
  padding: 0.25em 0.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000 0%, #333 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #333));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000 0%, #333 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000 0%, #333 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000 0%, #333 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, #333333 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
  /* IE6-9 */
  margin: 0 auto 1em auto;
  text-align: center;
  line-height: 150%;
  padding: 0.5em 0.5em 0.75em;
  display: block;
  width: 100%;
  background: #000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000 0%, #333 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #333));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000 0%, #333 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000 0%, #333 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000 0%, #333 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, #333333 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
  /* IE6-9 */ }
  /* line 91, ../sass/abstractions/_mixins.scss */
  .button.booking-button:hover, .homeboxes .view-content .node--home-box .field--link-to a.booking-button:hover {
    background: #333;
    /* Old browsers */
    background: -moz-linear-gradient(top, #333 0%, #000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #000));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #333 0%, #000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #333 0%, #000 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #333 0%, #000 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #333333 0%, #000000 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
    /* IE6-9 */ }
  /* line 33, ../sass/components/_buttons.scss */
  .button.booking-button span, .homeboxes .view-content .node--home-box .field--link-to a.booking-button span {
    font-size: 16px; }
@incude breakpoint($tablet) {
  /* line 23, ../sass/components/_buttons.scss */
  .button.booking-button, .homeboxes .view-content .node--home-box .field--link-to a.booking-button {
    font-size: 3em; } }
/* line 1, ../sass/components/_forms.scss */
input,
password,
email,
textarea {
  color: #fff; }

/* line 8, ../sass/components/_forms.scss */
.contact-form input,
.contact-form textarea {
  width: 100%;
  color: #333;
  border-bottom: 2px solid #000; }
/* line 14, ../sass/components/_forms.scss */
.contact-form input[type='submit'] {
  color: #fff;
  border: none; }

/* line 21, ../sass/components/_forms.scss */
.webform-client-form .form-item {
  width: 95%; }
  /* line 23, ../sass/components/_forms.scss */
  .webform-client-form .form-item input,
  .webform-client-form .form-item password,
  .webform-client-form .form-item textarea {
    width: 100%; }
/* line 29, ../sass/components/_forms.scss */
.webform-client-form .webform-calendar {
  max-width: 30px; }

/* line 34, ../sass/components/_forms.scss */
.webform-calendar {
  display: block;
  min-width: 40px;
  margin: 1em auto; }

/* line 1, ../sass/components/_navigation.scss */
a {
  color: #48a9e4; }

/* line 4, ../sass/components/_navigation.scss */
.breadcrumb {
  display: none; }

/* line 2, ../sass/abstractions/_mixins.scss */
.l-region--navigation ul.menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none; }
  /* line 8, ../sass/abstractions/_mixins.scss */
  .l-region--navigation ul.menu li.leaf {
    display: inline-block;
    margin: 0 1px 0; }
    /* line 11, ../sass/abstractions/_mixins.scss */
    .l-region--navigation ul.menu li.leaf a {
      display: block;
      padding: 0.75em 1em;
      margin: 0 1px 0;
      color: #fff;
      font-size: 1.2em;
      font-family: "Michroma", arial, helvetica, sans-serif; }
  /* line 24, ../sass/abstractions/_mixins.scss */
  .l-region--navigation ul.menu li.last.leaf a {
    margin-right: 0; }
/* line 9, ../sass/components/_navigation.scss */
.l-region--navigation a {
  text-shadow: 0px 5px 19px purple; }

/* line 14, ../sass/components/_navigation.scss */
.block-side-menu,
.block--menu-menu-releases {
  font-size: 0.9em; }
  /* line 31, ../sass/abstractions/_mixins.scss */
  .block-side-menu ul.menu,
  .block--menu-menu-releases ul.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none; }
    /* line 37, ../sass/abstractions/_mixins.scss */
    .block-side-menu ul.menu li.leaf,
    .block--menu-menu-releases ul.menu li.leaf {
      display: block;
      margin: 0 0 1px 0; }
      /* line 40, ../sass/abstractions/_mixins.scss */
      .block-side-menu ul.menu li.leaf a,
      .block--menu-menu-releases ul.menu li.leaf a {
        display: block;
        padding: 0.25em 1em;
        background: #29363F;
        color: #ccc;
        font-size: 1em;
        border-top: 1px solid #000;
        border-bottom: 1px solid #333;
        margin: 0; }
        /* line 49, ../sass/abstractions/_mixins.scss */
        .block-side-menu ul.menu li.leaf a:hover,
        .block--menu-menu-releases ul.menu li.leaf a:hover {
          background: #333; }

/* Overide Superfish Menu */
/* line 21, ../sass/components/_navigation.scss */
.sf-menu.sf-style-coffee li, .sf-menu.sf-style-coffee.sf-navbar {
  background: transparent; }

/* line 24, ../sass/components/_navigation.scss */
.sf-menu.sf-style-coffee li.sf-depth-1 a.sf-depth-1,
.sf-menu.sf-style-coffee li.sf-depth-1 a.sf-depth-2 {
  color: white;
  border: none;
  font-family: "Michroma", arial, helvetica, sans-serif;
  font-weight: normal; }
  /* line 30, ../sass/components/_navigation.scss */
  .sf-menu.sf-style-coffee li.sf-depth-1 a.sf-depth-1:hover,
  .sf-menu.sf-style-coffee li.sf-depth-1 a.sf-depth-2:hover {
    background: #333;
    transition-property: background;
    transition-duration: 1s; }

/* line 37, ../sass/components/_navigation.scss */
.sf-menu.sf-style-coffee li.sf-depth-1 a.sf-depth-2 {
  font-family: "Armata", Helvetica, Arial, Geneva, sans-serif; }

/* line 41, ../sass/components/_navigation.scss */
.sf-menu.sf-style-coffee li:hover, .sf-menu.sf-style-coffee li.sfHover, .sf-menu.sf-style-coffee li.active a, .sf-menu.sf-style-coffee a:focus, .sf-menu.sf-style-coffee a:hover, .sf-menu.sf-style-coffee a:active, .sf-menu.sf-style-coffee.sf-navbar li li {
  background: transparent; }
  /* line 43, ../sass/components/_navigation.scss */
  .sf-menu.sf-style-coffee li:hover .sf-menu.sf-style-coffee a, .sf-menu.sf-style-coffee li.sfHover .sf-menu.sf-style-coffee a, .sf-menu.sf-style-coffee li.active a .sf-menu.sf-style-coffee a, .sf-menu.sf-style-coffee a:focus .sf-menu.sf-style-coffee a, .sf-menu.sf-style-coffee a:hover .sf-menu.sf-style-coffee a, .sf-menu.sf-style-coffee a:active .sf-menu.sf-style-coffee a, .sf-menu.sf-style-coffee.sf-navbar li li .sf-menu.sf-style-coffee a {
    border-top: none;
    color: #fff;
    font-weight: normal;
    font-size: 1.2em;
    border: none;
    font-family: "Michroma", arial, helvetica, sans-serif; }
    /* line 50, ../sass/components/_navigation.scss */
    .sf-menu.sf-style-coffee li:hover .sf-menu.sf-style-coffee a:hover, .sf-menu.sf-style-coffee li.sfHover .sf-menu.sf-style-coffee a:hover, .sf-menu.sf-style-coffee li.active a .sf-menu.sf-style-coffee a:hover, .sf-menu.sf-style-coffee a:focus .sf-menu.sf-style-coffee a:hover, .sf-menu.sf-style-coffee a:hover .sf-menu.sf-style-coffee a:hover, .sf-menu.sf-style-coffee a:active .sf-menu.sf-style-coffee a:hover, .sf-menu.sf-style-coffee.sf-navbar li li .sf-menu.sf-style-coffee a:hover {
      background: #000; }

/* line 56, ../sass/components/_navigation.scss */
.sf-menu.sf-style-coffee li.first .sf-menu.sf-style-coffee a {
  border-left: none;
  font-family: "Michroma", arial, helvetica, sans-serif; }

/* Sub Menus */
/* line 62, ../sass/components/_navigation.scss */
.sf-menu.sf-style-coffee li li li {
  background: #29363F; }
  /* line 64, ../sass/components/_navigation.scss */
  .sf-menu.sf-style-coffee li li li:hover {
    background: #29363F; }

/* line 69, ../sass/components/_navigation.scss */
.tabs a {
  color: black; }

/* line 72, ../sass/components/_navigation.scss */
.responsive-menus.responsified span.toggler {
  background: #000; }

/* line 78, ../sass/components/_navigation.scss */
.tabs.links--inline li {
  display: block;
  float: none;
  width: 100%;
  margin-bottom: .5em; }
  /* line 89, ../sass/components/_navigation.scss */
  .tabs.links--inline li a {
    font-size: .8em;
    border: 1px solid #600;
    color: #fff;
    background: #000;
    /* Old browsers */
    background: -moz-linear-gradient(top, #000 0%, #500 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #500));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #000 0%, #500 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000 0%, #500 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000 0%, #500 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #000000 0%, #550000 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
    /* IE6-9 */ }
    /* line 94, ../sass/components/_navigation.scss */
    .tabs.links--inline li a:hover {
      background: black; }

/* line 2, ../sass/components/_search.scss */
.block--search input[type='submit'] {
  display: inline-block;
  color: #fff;
  background: #29363F;
  border: 1px solid #600;
  padding: 0.25em 0.5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #000 0%, #333 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000), color-stop(100%, #333));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000 0%, #333 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000 0%, #333 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000 0%, #333 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, #333333 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
  /* IE6-9 */ }
  /* line 91, ../sass/abstractions/_mixins.scss */
  .block--search input[type='submit']:hover {
    background: #333;
    /* Old browsers */
    background: -moz-linear-gradient(top, #333 0%, #000 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #000));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #333 0%, #000 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #333 0%, #000 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #333 0%, #000 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #333333 0%, #000000 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$top', endColorstr='#68a8c1',GradientType=0 );
    /* IE6-9 */ }
/* line 5, ../sass/components/_search.scss */
.block--search input[type='text'] {
  padding: .25em .5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #900;
  background: #333;
  color: #fff; }

/*# sourceMappingURL=slicednote.no-query.css.map */
